*.
# ---> C++
# Prerequisites
*.d


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

tempCodeRunnerFile
tempCodeRunnerFile.cpp
day3/afternoon/test
day3/afternoon/operator
day3/T490194/T490194
day3/T433080/redo
day3/T433080/out.txt
day2/U111091/out.txt
day2/U111091/fixed
day4/T435167/T435167
day4/U461920/U461920
test.txt
day4/U76034/chat
day4/U287193/chat
day4/U461920/fixed
day5/hard/hard
